{% extends 'base.html' %}

{% block content %}
<div class="card text-white bg-dark mb-3">
  <h5 class="card-header">
      <i class="fas fa-key"></i>
      Password Reset
  </h5>
  <div class="card-body">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
</div>
{% endblock %}