body, html {
    height: 100%;
    /* The image used */
    background-image: url("/static/background-1.jpg");
  
    /* Center and scale the image nicely */
    background-position: top;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    
  }

  .login-card{
    opacity: .9;
    width: 370px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.sign-up{
    opacity: .9;
    width: 350px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.expense-card{
  opacity: .9;
  position: relative;
  top: 15%;
}
.expdetail-card{
  opacity: .9;
  position: relative;
  top: 15%;
}
.incdetail-card{
  opacity: .9;
  position: relative;
  top: 15%;
}

.create-group{
  opacity: .9;
  width: 350px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-header {
    border-block-end-color: rgb(0, 153, 255);
    border-block-end-width: 4px;
  }

.bg-dark{
    opacity: .95;
  }

.add-user{
  width: 380px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.add-income{
  opacity: .9;
  position: relative;
  top: 5%;
  }

  th, td, select   {
    font-size: 14px;
  }
  .btn-xs {
    padding: 1px 1px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
.group-summary{
  margin:0;
}

.personal-account{
  width: 360px;
  margin: 0;
  position: relative;
  top: 3%;
  }
  
.group-account{
    width: 360px;
    margin: 0;
    position: relative;
    top: 5%;
    }

.group-account-category{
  width: 360px;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  top: 5%;
  }

.group-user-account{
  width: 360px;
  margin: 0;
  position: relative;
  top: 6%;
}

.trans-summary{
  width: 960px;
  opacity: .9;
  margin: 0;
  position: absolute;
  left: 28%;
  top: 15%;
}

.trans-summary-mini{
  width: 360px;
  opacity: .9;
  margin: 0;
  position: relative;
  top: 4%;
}

.form-control:focus {
  border-color: rgb(0, 153, 255);
  box-shadow: 0px 2px 2px rgba(253, 253, 253, 0.13) inset, 0px 0px 8px rgb(0, 153, 255);
}

tr.separated td {
  /* set border style for separated rows */
  border-bottom: 1px solid rgba(190, 189, 189, 0.856);
} 

table {
  /* make the border continuous (without gaps between columns) */
  border-collapse: collapse;
}