<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.10.2-web/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script type="text/javascript">
        function LoadMain() {
            document.getElementByname("form-navbar").action ="";
        }

        function OnloadUpdate(){
            document.getElementById("user_sel_date").value = '{{from_to_date}}'
        }

        function Clearmsg(){
            document.getElementById("saveicon").className = "fas fa-sign-in-alt"
            document.getElementById("msg").className = "alert"
            document.getElementById("success").innerHTML = ""

        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [day, month, year].join('/');
            }

        function set_date(){
            var fromdate = document.getElementById("from-date").value;
            var todate = document.getElementById("to-date").value;

            document.getElementById("success").innerHTML = ""
            if(fromdate!="" & todate!=""){
                document.getElementById("from_to_date").innerHTML = "From "+formatDate(fromdate)+" To "+formatDate(todate)
                document.getElementById("saveicon").className = "fas fa-check"
                document.getElementById("msg").className = "alert alert-success"
                document.getElementById("success").innerHTML = "From and to date updated!"
                document.getElementById("change_btn").style.display="none"
            }else{
                document.getElementById("success").innerHTML="Input cannot be blank!!"
                document.getElementById("msg").className = "alert alert-danger"
            }
        }
        
        function delete_confirm(trans_id){
            document.getElementById("del_trans_id").value = trans_id
        }
   
        function showlinks(){
            var firstbtn = document.getElementById("pers-inc").style.display;
            var secondbtn = document.getElementById("pers-exp").style.display;
            var thirdbtn = document.getElementById("group-exp").style.display;
            if(firstbtn =="none"){
                document.getElementById("pers-inc").style.display="block"
                document.getElementById("pers-exp").style.display="block"
                document.getElementById("group-exp").style.display="block"
                document.getElementById("circle-btn").className="fas fa-times"
            } else {
                document.getElementById("pers-inc").style.display="none"
                document.getElementById("pers-exp").style.display="none"
                document.getElementById("group-exp").style.display="none"
                document.getElementById("circle-btn").className="fas fa-plus"
            }
        }
        
        function enable_combo(){
            var combo_status = document.getElementById("user_opt_combo").style.display
            if (combo_status=="none"){
                document.getElementById("user_opt_combo").style.display="block"            
            }else{
                document.getElementById("user_opt_combo").style.display="none"            
            }
        }

        function expand_details(trans_id){
            var combo_status = document.getElementById(trans_id).style.display
            if (combo_status=="none"){
                document.getElementById(trans_id).style.display="block" 
                document.getElementById('main'+trans_id).style.display="block"            
            }else{
                document.getElementById(trans_id).style.display="none"            
                document.getElementById('main'+trans_id).style.display="none"            
            }
        }
    </script>
    <title>Group Expense Manager : Account</title>
</head>
<body onload="OnloadUpdate()">
    <form id="form-navbar" method="POST">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand text-white" href="#" style="font-size: 18px;">
                    <img src="/static/icon.jpg" width="50" height="50" class="d-inline-block align-center rounded-circle" alt="">
                    Group Expense Manager
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-user-alt"></i>
                </button>
            </nav>
            <div class="collapse align-center text-right" id="navbarToggleExternalContent">
                <div class="bg-dark p-3">
                    <span class="text-white" id="userid"> <i style="color: white; font-size: 15px" class="fas fa-user"></i> {{logintype}} : {{userid}}</span>
                    <div><a style="color: white; font-size: 15px" href="{% url 'myprofile' %}"><i style="color: white; font-size: 15px" class="far fa-id-card"></i> My Profile</a></div>
                    <button type="submit" name='logout' value="Submit" class="btn btn-dark btn-sm" onclick="LoadMain()"><i class="fas fa-sign-in-alt"></i><font size="3"> Logout</font></button> 
                </div>
            </div>
        </div>
    </form><br>
    <form id="form-sub" method="POST">
        <div class="container">
            <div data-aos="zoom" data-aos-easing="linear" data-aos-duration="450">
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-group-prepend form-control-md mb-2">
                            <label for="from_to_date" class="input-group-text" style="font-size: 12px;"><b><i class="fas fa-calendar-alt"></i> Date</b></label>
                            <label id="from_to_date" class="input-group-text" style="font-size: 12px;">{{from_to_date}}</label>
                            <div class="filter-reset" id="change_btn">
                                <button type="button" value="Change" name="change_btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#change-period">
                                    <i class="fas fa-filter"></i>
                                </button>   
                            </div>
                            <div class="filter-reset" id="reset">
                                <button value="Reset" class="btn btn-primary btn-sm" type="submit" name="reset">
                                    <i class="fas fa-redo-alt"></i>
                                </button>        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend form-control-md">
                                <label class="input-group-text" style="font-size: 12px;" for="select-group"><i class="fas fa-users"> Group </i></label>
                                <select style="width:130px" name="group_name" id="group_name">
                                    {% for group in grouplist %}
                                        {% if sel_group == group %}
                                            <option selected value="{{group}}">{{group}}</option>
                                        {% else %}
                                            <option value="{{group}}">{{group}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-primary btn-sm" type="submit" name="update_group">Update</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </form>
    <div class="container">
        <div data-aos="zoom" data-aos-easing="linear" data-aos-duration="400">
            <div class="row">
                <div class="container group-account-category">
                    <div class="card text-left text-black bg-light mb-3" style="height: 420px;">
                        <h6 class="card-header">
                            <i class="fas fa-toolbox"></i>
                            Quick Action Toolbax
                        </h6>
                        <div class="card-body">
                            <div class="container">
                                <form id="form-sub" method="POST">
                                    <div class="col">
                                        <div class="row mb-3">
                                            <a href="{% url 'groups' %}">
                                                <i class="fas fa-users"></i>
                                                Create New Group
                                            </a>
                                        </div>
                                        <div class="row mb-3">
                                            <a href="{% url 'incomes' %}">
                                                <i style="color:green" class="fas fa-plus"></i>
                                                Add Personal Income
                                            </a>    
                                        </div>
                                        <div class="row mb-3">
                                            <a href="{% url 'personal_expenses' %}">
                                                <i style="color:red" class="fas fa-minus"></i>
                                                Add Personal Expense
                                            </a>    
                                        </div>
                                        <div class="row mb-3">
                                            <a href="{% url 'group_expenses' %}">
                                                <i style="color:red" class="fas fa-minus"></i>
                                                Add Group Expense
                                            </a>        
                                        </div>
                                        <div class="row mb-3 d-block d-sm-none">
                                            <a href="#group_expenses_summary">
                                                <i style="color:black" class="fas fa-users"></i>
                                                Group Expense Summary
                                            </a>        
                                        </div>
                                        <div class="row mb-3 d-block d-sm-none">
                                            <a href="#GroupExpByCat">
                                                <i style="color:black" class="fas fa-users"></i>
                                                Group Expense By Category
                                            </a>        
                                        </div>
                                        <div class="row mb-3 d-block d-sm-none">
                                            <a href="#GroupExpByUser">
                                                <i style="color:black" class="fas fa-users"></i>
                                                Group Expense By User
                                            </a>        
                                        </div>
                                        <div class="row mb-3 d-block d-sm-none">
                                            <a href="#TransSummary">
                                                <i class="fas fa-list-alt"></i>
                                                Transaction Summary
                                            </a>        
                                        </div>                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="container personal-account">
                    <div class="card text-left text-black bg-light mb-3" style="height: 420px;">
                        <h6 class="card-header">
                            <i class="fas fa-user"></i>
                            Personal Expense Summary
                        </h6>
                        <div class="card-body ">
                            <form id="form-sub" method="POST">
                                <div class="container">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                {% for k in per_header %}
                                                <th>{{k}}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in per_rows %}
                                                <tr>
                                                    <td><i>{{r.total}}</i></td>
                                                    <td style="color: green" align="right">{{r.income}}</td>
                                                    <td style="color: red" align="right">{{r.expense}}</td>
                                                </tr>
                                                {% if r %}
                                                <tr bgcolor="#f1d0cf">
                                                    {% for j in r.firstrow %}
                                                        {% if j <= 0 or j >= 0 %}
                                                        <td align="right" colspan="2">{{j}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{j}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                                <tr bgcolor="#f1d0cf">
                                                    {% for k in r.secrow %}
                                                        {% if k <= 0 or k >= 0 %}
                                                        <td align="right" colspan="2">{{k}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{k}}</td>
                                                        {% endif %}
                                                    {% endfor %} 
                                                </tr>
                                                <tr bgcolor="#f1d0cf">
                                                    {% for l in r.throw %}
                                                        {% if l <= 0 or l >= 0 %}
                                                        <td align="right" colspan="2">{{l}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{l}}</td>
                                                        {% endif %}
                                                    {% endfor %} 
                                                </tr>
                                                <tr bgcolor="#cff1d1">
                                                    {% for m in r.fourthrow %}
                                                        {% if m <= 0 or m >= 0 %}
                                                        <td align="right" colspan="2">{{m}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{m}}</td>
                                                        {% endif %}
                                                    {% endfor %} 
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a href="{% url 'incomes' %}">
                                        <i style="color:green" class="fas fa-plus"></i>
                                        Add Income
                                    </a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="{% url 'personal_expenses' %}">
                                        <i style="color:red" class="fas fa-minus"></i>
                                        Add Expense
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container personal-chart">
                    <div class="card text-left text-black bg-light" style="height: 415px;">
                        <h6 class="card-header">
                            <i class="fas fa-user"></i>
                            Personal Expense Pie Chart
                        </h6>
                        <div class="card-body">
                            <figure>
                                <embed type="image/svg+xml" src="/{{personal_exp_by_category}}"></embed>
                            </figure>
                        </div>   
                    </div>
                </div>
            </div>  
            <div class="row">
                <div id="GroupExpByCat" class="container group-account-category">
                    <div class="card text-left text-black bg-light mb-3" style="height: 415px">
                        <h6 class="card-header">
                            <i class="fas fa-users"></i>
                            Group Expense: By Category
                        </h6>
                        <div class="card-body">
                            <form id="form-sub" method="POST">
                                <div class="container">
                                    <div class="scroll-catwise">
                                        <table class="table table-sm group-summary-category">
                                            <thead>
                                                <tr style="text-align: left">
                                                    <th>Category</th>
                                                    <th>Sub Category</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    {% for rw in category_summary.category_list %}
                                                        <p>{{rw}}</p>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for rw in category_summary.sub_category_list %}
                                                        <p>{{rw}}</p>
                                                    {% endfor %}                                
                                                </td>
                                                <td>
                                                    {% for rw in category_summary.amount_list %}
                                                        <p style="color: red" align="right">{{rw}}</p>
                                                    {% endfor %}                                
                                                </td>
                                            </tbody>
                                        </table><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>            
                <div id="group_expenses_summary" class="container group-account">                
                    <div class="card text-left text-black bg-light mb-3" style="height: 415px">
                        <h6 class="card-header">
                            <i class="fas fa-users"></i>
                            Group Expense Summary
                        </h6>
                        <div class="card-body">
                            <form id="form-sub" method="POST">
                                <div class="container">
                                    <table class="table table-sm group-summary">
                                        <thead>
                                            <tr style="text-align: left">
                                                {% for k in group_header %}
                                                <th colspan="2">{{k}}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in group_rows %}
                                                <tr>
                                                    <td><i>{{r.total}}</i></td>
                                                    <td colspan="2" style=" color: red" align="right">{{r.expense}}</td>
                                                <tr>
                                                {% if r %}
                                                <tr bgcolor="#f1d0cf">
                                                    {% for j in r.firstrow %}
                                                        {% if j <= 0 or j >= 0 %}
                                                        <td align="right" colspan="2">{{j}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{j}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                                <tr bgcolor="#f1d0cf">
                                                    {% for k in r.secrow %}
                                                        {% if k <= 0 or k >= 0 %}
                                                        <td align="right" colspan="2">{{k}}</td>
                                                        {% else %}
                                                        <td align="left" colspan="2">{{k}}</td>
                                                        {% endif %}
                                                    {% endfor %} 
                                                </tr>
                                                {% endif %}        
                                            {% endfor %}                                
                                        </tbody>
                                    </table><br>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <a href="{% url 'group_expenses' %}">
                                        <i style="color:red" class="fas fa-minus"></i>
                                        Add Group Expense
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container group-chart">
                    <div class="card text-left text-black bg-light" style="height: 415px">
                        <h6 class="card-header">
                            <i class="fas fa-users"></i>
                            Group Expense Pie Chart
                        </h6>
                        <div class="card-body">
                            <figure>
                                <embed type="image/svg+xml" src="/{{group_exp_by_category}}"></embed>
                            </figure>
                        </div>   
                    </div>
                </div>
                <div id="GroupExpByUser" class="container group-user-account">
                    <div class="card text-left text-black bg-light mb-3" style="height: 405px;">
                        <h6 class="card-header">
                            <i class="fas fa-users"></i>
                            Group Expense: User Wise Summary
                        </h6>
                        <div class="card-body">
                            <div class="container">
                                <form id="form-sub" method="POST">
                                    <span style="font-size: 12px; margin-left: 10px;">
                                        <b><i style="font-size: 14px;" class="fas fa-calendar-alt"></i></b>
                                        {% if user_opt %}
                                            {{user_opt}}
                                            <button class="btn btn-info btn-xs" type="button" onclick="enable_combo()">Change</button>
                                        {% else %}
                                            {{from_to_date}} 
                                            <button class="btn btn-info btn-xs" type="button" onclick="enable_combo()">Change</button>
                                        {% endif %}
                                    </span>
                                    <div id="user_opt_combo" class="input-group mb-2" style="display: none;">
                                        <div class="input-group-prepend form-control-md">
                                            <label class="input-group-text" style="font-size: 14px;" for="select-useropt"> Period</label>
                                            <select style="width:120px" name="user_opt" id="user_opt">
                                                {% if user_opt == "Today" %}
                                                    <option selected value="Today">Today</option>
                                                    <option value="This Week">This Week</option>
                                                    <option value="This Month">This Month</option>
                                                {% elif user_opt == "This Week"%}
                                                    <option value="Today">Today</option>
                                                    <option selected value="This Week">This Week</option>
                                                    <option value="This Month">This Month</option>
                                                {% elif user_opt == "This Month" %}
                                                    <option value="Today">Today</option>
                                                    <option value="This Week">This Week</option>
                                                    <option selected value="This Month">This Month</option>
                                                {% else %}
                                                    <option value="Today">Today</option>
                                                    <option value="This Week">This Week</option>
                                                    <option selected value="This Month">This Month</option>
                                                {% endif %}                                                                    
                                            </select>
                                            <input id="update_useropt" class="btn btn-primary btn-sm" type="submit" value="Update" name="update_useropt">
                                        </div>
                                    </div>
                                </form>
                                <div class="scroll-catwise">
                                    <table class="table table-sm group-summary-user">
                                        <thead>
                                            <tr style="text-align: left">
                                                {% for k in group_header %}
                                                <th>{{k}}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-bottom: 1px solid rgb(197, 194, 194);">
                                                <td style="width: 11%;">
                                                    {% for usrid in group_user_exp.user %}
                                                        <i><p>&nbsp;&nbsp;&nbsp;{{usrid}}</p></i>
                                                    {% endfor %}
                                                </td>
                                                <td style="width: 11%;">
                                                    {% for exp in group_user_exp.expenses %}
                                                        <p style="width: 50%; color: red" align="right">{{exp}}</p>
                                                    {% endfor %}
                                                </td>
                                            </tr>   
                                        </tbody>
                                    </table><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container group-user-account">
                    <div class="card text-left text-black bg-light mb-3" style="height: 405px;">
                        <h6 class="card-header">
                            <i class="fas fa-users"></i>
                            Group Expense: User Wise Pie Chart
                        </h6>
                        <div class="card-body">
                            <figure>
                                <embed type="image/svg+xml" src="/{{group_exp_by_users}}"></embed>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="TransSummary" class="container trans-summary-mini d-block d-sm-none">
                    <form id="form-sub" method="POST">
                        <div class="card text-left text-black bg-light sm-1">
                            <h6 class="card-header">
                                <font size="4px">
                                    <i class="fas fa-list-alt"></i>
                                    Transaction Summary
                                </font> 
                            </h6>
                            <div class="card-body scroll-trans">
                                {% if messages %}
                                {% for message in messages %}
                                <div id="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <table class="table">
                                    <thead>
                                        <tr style="text-align: left">
                                            <th><font size="3px"><i class="fas fa-user-edit"></i></font></th>
                                            <th><font size="2px">Date </font></th>
                                            <th><font size="2px">Details</font></th>
                                            <th><font size="2px">Amount</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rw in mini_trans_summary %}
                                            <tr>
                                                <td style="width: 15%; font-size: 12px;">
                                                    <button class="btn btn-xs" type="submit" name="edit-btn" value="{{rw.id}}">
                                                        <i style="font-size: 15px; color:blue" class="fas fa-edit"></i> 
                                                    </button><br><br>
                                                    <button data-placement="top" title="Delete" data-toggle="modal" data-target="#delete-confirm" id="delete-btn-mini" class="btn btn-xs" 
                                                        onclick="delete_confirm(this.value)" type="button" value="{{rw.id}}">
                                                        <i style="font-size: 15px; color: red;" class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                                <td style="width: 20%; font-size: 12px;">
                                                    <div style="width: 100%; ">{{rw.date}}</div>
                                                </td>
                                                <td style="width: 30%;font-size: 12px; text-align: left; ">
                                                    <button class="btn btn-link btn-sm" type="button" value="{{rw.id}}" onclick="expand_details(this.value)" style="text-align: left; font-size: 13px;">
                                                        {{rw.category}}<b>:</b> {{rw.sub_cat}} <i class="fas fa-angle-double-down"></i>
                                                    </button>
                                                </td>

                                                {% if rw.sub_cat == "NA" %}
                                                    <td style="width: 20%; font-size: 12px; text-align: right; color: green;">
                                                        {{rw.expense}}
                                                    </td>
                                                {% else %}
                                                    <td style="width: 20%; font-size: 12px; text-align: right; color: red;">
                                                        {{rw.expense}}
                                                    </td>
                                                {% endif %}
                                                <tr>
                                                    <td colspan="4">
                                                        <div class="card" id="{{rw.id}}" style="display: none; padding: 10px;">
                                                            <div><b>Trans ID:</b> {{rw.id}}</div>
                                                            <div><b>User:</b> {{rw.user}}</div>
                                                            <div><b>Group:</b> {{rw.group}}</div>
                                                            <div><b>Description:</b> {{rw.description}}</div>
                                                            <div><b>Payee:</b> {{rw.payee}}</div>
                                                            <div><b>Pymt Method:</b> {{rw.pay_meth}}</div>
                                                        </div>        
                                                    </td>
                                                </tr>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>           
                </div><br>
            </div>
            <div class="row">
                <div id="TransSummary" class="container trans-summary d-none d-lg-block">
                    <form id="form-sub" method="POST">
                        <div class="card text-left text-black bg-light sm-1">
                            <h6 class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <font size="5px">
                                            <i class="fas fa-list-alt"></i>
                                            Transaction Summary
                                        </font> 
                                    </div>
                                </div>
                            </h6>
                            <div class="card-body scroll-trans">
                                {% if messages %}
                                {% for message in messages %}
                                <div id="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {% for k in trans_header %}
                                            <th class="text-left">{{k}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in trans_rows %}
                                            <tr>
                                                <td>
                                                    <button data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-xs" type="submit" name="edit-btn" value="{{r.id}}">
                                                        <i style="font-size: 15px; color:blue" class="fas fa-edit" ></i> 
                                                    </button>
                                                    <button data-placement="top" title="Delete" data-toggle="modal" data-target="#delete-confirm" id="delete-btn" class="btn btn-xs" 
                                                    onclick="delete_confirm(this.value)" type="button" value="{{r.id}}">
                                                        <i style="font-size: 15px; color: red;" class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                                <td style="width: 120px;"><i>{{r.date}}</i></td>
                                                <td><i>{{r.user}}</i></td>
                                                <td><i>{{r.group}}</i></td>
                                                <td><i>{{r.category}}</i></td>
                                                <td><i>{{r.sub_cat}}</i></td>
                                                <td><i>{{r.payee}}</i></td>
                                                <td><i>{{r.pay_meth}}</i></td>
                                                {% if r.sub_cat == "NA" %}
                                                    <td class="text-right">
                                                        <button class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="show more details" type="button" value="{{r.id}}" onclick="expand_details(this.value)" style="text-align: left; font-size: 13px;">
                                                            <i style="color: green;">{{r.expense}}</i>
                                                            <i style="color: blue;" class="fas fa-angle-double-down"></i>
                                                        </button>    
                                                    </td>
                                                {% else %}
                                                    <td class="text-right">
                                                        <button class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="show more details" type="button" value="{{r.id}}" onclick="expand_details(this.value)" style="text-align: left; font-size: 13px;">
                                                            <i style="color: red;">{{r.expense}}</i>
                                                            <i style="color: blue;" class="fas fa-angle-double-down"></i>
                                                        </button>    
                                                    </td>
                                                {% endif %}
                                                <tr>
                                                    <td colspan="9">
                                                        <div class="card" id="main{{r.id}}" style="display: none; padding: 10px;">
                                                            <div><b>Trans ID:</b> {{r.id}}</div>
                                                            <div><b>Description:</b> {{r.description}}</div>
                                                            <div><b>Tag#:</b> {{r.tag}}</div>
                                                        </div>        
                                                    </td>    
                                                </tr>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div><br>
    <form id="model-form-navbar" method="POST">
        <div class="modal fade" id="change-period" tabindex="1" role="dialog" aria-labelledby="change-periodlabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="change-periodlabel">Update Date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="input-group col-xs-12 col-sm-6 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="from_date">From</span>
                                </div>
                                <input type="Date" id="from-date" name="from_date" class="form-control" aria-label="from_date" aria-describedby="from_date" onfocus="Clearmsg()"required>
                            </div>
                            <div class="input-group col-xs-12 col-sm-6 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="to_date">To</span>
                                </div>
                                <input type="Date" id="to-date" name="to_date" class="form-control" aria-label="to_date" aria-describedby="to_date" onfocus="Clearmsg()" required>
                            </div>
                        </div>
                        <div id="msg" role="alert">
                            <span id="success"></span>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        <button type="submit" name="save-date" value="Save" class="btn btn-primary" onclick="set_date()">
                            <i id="saveicon" class="fas fa-sign-in-alt"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="model-form-navbar" method="POST">
        <div id="delete-confirm" class="modal fade" tabindex="2" role="dialog" aria-labelledby="delete-confirmlabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="change-periodlabel">Confirm Delete?</h5>
                    </div>
                    <div class="modal-body">
                        <div> Do you want to delete this transaction ? </div>
                        <div> Trans ID: <input style="width: 70px; border: 0px solid;" type="text" name="del_trans_id" id="del_trans_id" readonly></input></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <input type="submit" name="delete-btn" value="Yes" class="btn btn-primary"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <a class="circle-div" onclick="showlinks()">
        <i id="circle-btn" class="fas fa-plus" style="color: white; font-size: 20px;"></i>
    </a>
    <a id="pers-inc" href="{% url 'incomes' %}" class="per-inc-circle" style="display: none;">
        <span style="font-size: 13px;"><i class="fas fa-user"></i> <i class="fas fa-rupee-sign"></i></span>
    </a>
    <a id="pers-exp" href="{% url 'personal_expenses' %}" class="per-exp-circle" style="display: none;">
        <span style="font-size: 13px;"><i class="fas fa-user"></i> <i class="fas fa-rupee-sign"></i></span>
    </a>
    <a id="group-exp" href="{% url 'group_expenses' %}" class="group-exp-circle" style="display: none;">
        <span style="font-size: 13px;"><i class="fas fa-users"></i> <i class="fas fa-rupee-sign"></i></span>
    </a>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>