<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.10.2-web/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
        function LoadMain() {
            document.getElementsByName("form-navbar").action ="";
        }

        function Update_SubCategory() {
            document.getElementsByName("form-navbar").action ="group_expenses/";
        } 

        function add_payee(){
            var dropdown = document.getElementById("payee");
            var input = document.getElementById("payee-name").value
            var option = document.createElement("option");
            var ddlArray=new Array();
            var ddl= document.getElementById("payee");
            for (i=0;i<ddl.options.length; i++){
                ddlArray[i]=ddl.options[i].value;
            }
            if(input!="" && ddlArray.indexOf(input)==-1){
                option.text = option.value = document.getElementById("payee-name").value;
                dropdown.add(option);
                for (i=0;i<ddl.options.length; i++){
                    ddlArray[i]=ddl.options[i].value;
                }
                document.getElementById("newpayee-list").value = ddlArray;
                document.getElementById("success").innerHTML="Payee inserted to the dropdown!!"
                document.getElementById("saveicon").className = "fas fa-check"
                document.getElementById("msg").className = "alert alert-success"
                document.getElementById("payee-name").value = ""
            }else if(ddlArray.indexOf(input)>-1){
                document.getElementById("success").innerHTML="Value Already Exists!!"
                document.getElementById("msg").className = "alert alert-danger"
            }else{
                document.getElementById("success").innerHTML="Input cannot be blank!!"
                document.getElementById("msg").className = "alert alert-danger"
            }
        }

        function clearMsg(){
            document.getElementById("msg").className = ""
            document.getElementById("success").innerHTML=""
        }
    </script>
    <title>Group Expenses Manager</title>
</head>
<body>
    <form id="form-navbar" method="POST">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand text-white" href="#" style="font-size: 18px;">
                    <img src="/static/icon.jpg" width="50" height="50" class="d-inline-block align-center rounded-circle" alt="">
                    Group Expense Manager
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-user-alt"></i>
                </button>
            </nav>
            <div class="collapse align-center text-right" id="navbarToggleExternalContent">
                <div class="bg-dark p-3">
                    <span class="text-white" id="userid"> <i style="color: white; font-size: 15px" class="fas fa-user"></i> {{logintype}} : {{userid}}</span>
                    <button type="submit" name='logout' value="Submit" class="btn btn-primary btn-sm" onclick="LoadMain()"><i class="fas fa-sign-in-alt"></i><font size="2">Logout</font></button>   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container card-body col-sm-12 col-lg-7">
                <div class="card text-left mb-3">
                    <div class="card text-left mb-3">
                        <h5 class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <h6>
                                        {% if exp_mode == "Group" %}
                                        <i class="fas fa-users"></i>
                                        {% else %}
                                        <i class="fas fa-user"></i>
                                        {% endif %}    
                                        <i style="color:red" class="fas fa-rupee-sign"></i>
                                        Add {{exp_mode}} Expense    
                                    </h6>
                                </div>
                                <div class="col-4 text-right">
                                    <h6><a href="{% url 'account' %}"><i class="fas fa-chevron-circle-left"></i> Account</a></h6>
                                </div>
                            </div>
                        </h5>
                        <div class="card-body">
                            <form id="expense-form" method="POST">
                                <ol class="breadcrumb">
                                    {% if edit_mode %}
                                    <li class="breadcrumb-item">{{cat_crumb}}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="">{{cat_crumb}}</a></li>
                                    {% endif %}
                                    <li class="breadcrumb-item active" aria-current="">{{subcat_crumb}}</li>
                                </ol>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="group">Select Group</label>
                                    </div>
                                    <select class="custom-select" name="group" id="group">
                                        {% for group in grouplist %}
                                        {% if group == edit_group %}
                                        <option selected value="{{group}}">{{group}}</option>
                                        {% else %}
                                        <option value="{{group}}">{{group}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>            
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="date">Date</span>
                                    </div>
                                    <input type="Date" name="date" value="{{edit_date}}" class="form-control" aria-label="date" aria-describedby="date" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">₹</span>
                                    </div>
                                    <input type="number" name="amount" value="{{edit_amount}}" placeholder="0.00" class="form-control" aria-label="Amount" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="payee">Payee</label>
                                    </div>
                                    <input type="text" id="payee-name" value="{{edit_payee}}" name="payee-name" autocomplete="off" class="form-control" aria-label="Payee Name" onclick="clearMsg()" aria-describedby="inputGroup-sizing-default" required>   
                                    <div style="display: none;"> 
                                        <input type="text" id="newpayee-list" name="newpayee-list">
                                    </div>
                                </div>    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="payment-method">Payment Method</label>
                                    </div>
                                    <select class="custom-select" name="payment-method" id="payment-method">
                                        {% for pay_type in payment_meth %}
                                        {% if pay_type == edit_pay_type %}
                                        <option selected value="{{pay_type}}">{{pay_type}}</option>
                                        {% else %}
                                        <option value="{{pay_type}}">{{pay_type}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="tag">#Tag</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{edit_tag}}" name="tag" aria-label="tag" aria-describedby="tag expenses">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <textarea class="form-control" name="description" aria-label="Enter Description of Expenses">{{edit_desc}}</textarea>
                                </div>
                                <span id="errorvalue" style="color:red">{{errorvalue}}</span>
                                <span id="info" style="color:rgb(52, 185, 52)">{{info}}</span><br>
                                <div class="form-group text-center form-check">
                                    <input type="checkbox" class="form-check-input" name="recurring" id="recurring" onclick="clearmsg()">
                                    <label class="form-check-label" for="recurring">Save as Recurring</label><br><br>
                                    <button type="submit" name='save' value="Submit" class="btn btn-primary" onclick="LoadMain()"><i class="fas fa-sign-in-alt"></i> Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </form>
    <script>
        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
                } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
                } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
                }
            });
            function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
            }
            function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
                }
            }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        
        /*An array containing all the country names in the world:*/
        var Payees = {{payeelist|safe}};
        
        /*initiate the autocomplete function on the "payee-name" element, and pass along the Payees array as possible autocomplete values:*/
        autocomplete(document.getElementById("payee-name"), Payees);
    </script>      
    <script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>